* {
    border-radius: 0 !important;
}

.round-edges {
    border-radius: 10px !important;
}

.round-bot {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.round-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.foto-perfil {
    height: 100%;
    max-width: auto;
    border-radius: 100px !important;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar{
    border-radius: 16px;
    background: #08518e !important;
}

.skills-bar{
    margin-bottom: 6px;
    font-weight: 600;
    padding: 50px;
}

.subtitulo{
  padding-left: 50px;  
  font-family: Arial, Helvetica, sans-serif;
}

.corprimaria{

    background-color:#2b2c31 !important;
}

.corsecundaria{

    background-color: white;
}

.informações{
    margin-bottom: 6px;
    font-weight: 600;
    padding: 50px;
}


.icones {
    padding-left: 5px;
}

.titulosazul {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color:  #08518e;
}

.fontecinza {
    color:  #c3c9c3;
}

.tituloscinza {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: 	#c3c9c3;
}

.titulosbrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: 	white
    
}


.removed-padding{
    margin: 0 ;
    padding: 0; 
    
}

.textofooter{
    margin: 0px;
    padding: 10px;
    padding-bottom: 15px;
    
   
}